p {
  font-size: 115%;
}

@font-face {
  font-family: 'Rashi SemiBold';
  src: url('../fonts/NotoRashiHebrew-SemiBold.ttf')
}

@font-face {
  font-family: 'Rashi Bold';
  src: url('../fonts/NotoRashiHebrew-Bold.ttf')
}

@font-face {
  font-family: 'Rashi Black';
  src: url('../fonts/NotoRashiHebrew-Black.ttf')
}

.rashi-b {
  font-family: 'Rashi Bold';
}

.rashi-bl {
  font-family: 'Rashi Black';
}

.lyr {
  font-size: 120%;
}

#top {
  padding: calc(10px + 1%);
  background-color: #8e8c84;
}

.text-half-muted {
  color: #52514a;
}

.text-small {
  font-size: small;
}

a {
  color: #8e8c84;
}

a:hover {
  color: #98978b;
}

a:hover.text-half-muted {
  color: #62615a
}

.spacer {
  padding: calc(10px + 1%);
}

.card-header {
  background-color: #f3f2f0;
  border: none;
}

.btn-light {
  background-color: #f3f2f0;
}

.segolta {
  margin-left: -10px;
}

#all-songs {
  text-align: center; 
  position: fixed; 
  right: 2vw; 
  bottom: 2vw;
}

video {
  aspect-ratio: 16 / 9;
}

.accordion-collapse {
  height: 150px; 
  overflow: scroll;
}

::-webkit-scrollbar-corner {
  background-color: #fff;
  }